@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular.ttf")
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/roboto/Roboto-Bold.ttf")
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/roboto/Roboto-Light.ttf")
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("../fonts/roboto/Roboto-Medium.ttf")
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
.header-default .header-wrapper .header-brand,
.header-default .header-wrapper .header-menu>ul,
.header-default-mobile .header-wrapper .header-brand,
footer .footer-wrap .footer-social>ul {
    margin: 0;
    padding: 0
}

body {
    font-size: 16px;
    background-color: #fff;
    color: #7F7F7F;
    font-family: "Roboto", sans-serif
}

a {
    color: #7F7F7F
}

a:hover {
    text-decoration: none;
    color: #7F7F7F
}

@media screen and (max-width: 575px) {
    body {
        font-size: 14px
    }
}

.header-default {
    display: block;
    width: 100%;
    height: 60px;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    position: fixed;
    z-index: 999;
    -webkit-transition: top .5s;
    transition: top .5s
}

.header-default .header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between
}

.header-default .header-wrapper .header-brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px 0
}

.header-default .header-wrapper .header-brand a {
    font-size: 28px;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700
}

.header-default .header-wrapper .header-brand a:hover {
    color: #00BCD4;
    transition: all 0.3s ease-out
}

.header-default .header-wrapper .header-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center
}

.header-default .header-wrapper .header-menu>ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.header-default .header-wrapper .header-menu>ul>li {
    padding: 0px 15px
}

.header-default .header-wrapper .header-menu>ul>li>a {
    display: block;
    padding: 20px 0px 20px;
    text-transform: uppercase;
    font-family: "Roboto-Medium", sans-serif;
    word-spacing: -0.5px;
    font-size: 14px
}

.header-default .header-wrapper .header-menu>ul>li>a:hover {
    padding: 20px 0px 16px;
    border-bottom: 4px solid #00BCD4;
    transition: all 0.1s ease-in
}

.header-default-mobile {
    display: none;
    width: 100%;
    height: 60px;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    -webkit-transition: top .5s;
    transition: top .5s
}

.header-default-mobile .header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center
}

.header-default-mobile .header-wrapper .header-brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 0
}

.header-default-mobile .header-wrapper .header-brand a {
    font-size: 28px;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    cursor: pointer
}

.header-default-mobile .header-wrapper .header-brand a:hover {
    color: #00BCD4;
    transition: all 0.3s ease-out
}

.header-default-mobile .sidenav-mobile {
    position: absolute;
    width: 0%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1111;
    overflow-x: hidden;
    background-color: #fff;
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35)
}

.header-default-mobile .sidenav-mobile .profil-wrap {
    width: 100%;
    height: 200px;
    background-image: url(../img/bg-skill.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.header-default-mobile .sidenav-mobile .profil-wrap .bg-opacity-black {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4)
}

.header-default-mobile .sidenav-mobile .profil-wrap .bg-opacity-black .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0 20px
}

.header-default-mobile .sidenav-mobile .profil-wrap .bg-opacity-black .content img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px
}

.header-default-mobile .sidenav-mobile .profil-wrap .bg-opacity-black .content h4 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Roboto-Bold", sans-serif
}

.header-default-mobile .sidenav-mobile .profil-wrap .bg-opacity-black .content p {
    color: #fff
}

.header-default-mobile .sidenav-mobile .menu-warp {
    width: 100%;
    height: calc(100vh - 200px)
}

.header-default-mobile .sidenav-mobile .menu-warp>ul>li>a {
    display: block;
    font-size: 16px;
    padding: 15px 10px
}

.header-default-mobile .sidenav-mobile .menu-warp>ul>li>a:hover {
    background-color: rgba(0, 0, 0, 0.15)
}

@media screen and (max-width: 575px) {
    .header-default {
        display: none
    }
    .header-default-mobile {
        display: block
    }
}

footer {
    width: 100%;
    height: 80px;
    padding-top: 30px
}

footer .footer-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between
}

footer .footer-wrap .footer-social>ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

footer .footer-wrap .footer-social>ul>li {
    padding-right: 15px
}

footer .footer-wrap .footer-social>ul>li>a {
    display: block;
    font-size: 24px
}

footer .footer-wrap .footer-social>ul>li>a.facebook:hover {
    color: #4867AA
}

footer .footer-wrap .footer-social>ul>li>a.twitter:hover {
    color: #1DA1F2
}

footer .footer-wrap .footer-social>ul>li>a.google-plus:hover {
    color: #DD5044
}

footer .footer-wrap .footer-social>ul>li>a.github:hover {
    color: #000
}

footer .footer-wrap .footer-copyright p {
    font-family: "Roboto-Medium", sans-serif;
    color: #00BCD4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0
}

@media screen and (max-width: 575px) {
    footer .footer-wrap {
        justify-content: center;
        flex-direction: column;
        align-items: center
    }
}

.btn {
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 16px;
    -moz-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15)
}

.btn:hover {
    -moz-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.35)
}

.btn.btn-primer {
    background-color: #00BCD4;
    color: #fff
}

.btn.btn-primer:hover {
    background-color: #01A5BA
}

.btn.btn-second {
    background-color: #fff;
    color: #00BCD4;
    font-weight: 600;
    -moz-box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.35)
}

.btn.btn-second:hover {
    background-color: #f4f4f4;
    -moz-box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.35)
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
}

.modal-content .modal-body {
    position: relative;
    padding: 10px 10px 15px
}

.modal-content .modal-body .close {
    margin: 10px 15px
}

.modal-content .modal-footer {
    padding: 20px 10px;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}

.modal-content .modal-footer a {
    color: #00BCD4;
    font-family: "Roboto-Bold", sans-serif;
    margin-right: 10px;
    text-transform: uppercase
}

.modal-content .modal-footer a:hover {
    color: #01A5BA
}

.title-text {
    padding: 20px 0;
    width: 100%;
    height: 50px;
    background-color: #00BCD4;
    overflow: hidden
}

.project-modal {
    width: 100%
}

.project-modal img {
    width: 100%;
    margin-bottom: 15px
}

.project-modal .project-desc h4 {
    color: #00BCD4;
    font-size: 24px;
    font-family: "Roboto-Bold", sans-serif
}

.project-modal .project-desc p {
    margin-top: 5px
}

.home-wrapper {
    width: 100%;
    height: 95vh;
    background-image: url(../img/bg-banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative
}

.home-wrapper .bg-opacity-black {
    width: 100%;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative
}

.home-wrapper .banner-text {
    padding: 40vh 0 50px;
    color: #fff;
    text-transform: uppercase
}

.home-wrapper .banner-text .home-title {
    margin-bottom: 15px
}

.home-wrapper .banner-text .home-title h1 {
    font-size: 72px;
    font-weight: 600;
    font-family: "Roboto-Bold", sans-serif
}

.home-wrapper .banner-text .home-title h1 span {
    color: #00BCD4
}

.home-wrapper .banner-text .home-subtitle {
    margin-bottom: 35px
}

.home-wrapper .banner-text .home-subtitle h2 {
    font-size: 22px;
    font-weight: 300;
    font-family: "Roboto-Medium", sans-serif
}

.home-wrapper .banner-text .home-btn a {
    font-size: 16px
}

.home-wrapper .banner-text .home-btn a i {
    font-size: 17px;
    margin-left: 5px
}

.home-wrapper .circle-button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    -moz-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center
}

.home-wrapper .circle-button:hover {
    -moz-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.35);
    color: #00BCD4;
    transition: all 0.3s ease-out
}

.about-wrapper {
    width: 100%;
    padding: 90px 0;
    position: relative
}

.about-wrapper .title-about {
    margin-bottom: 20px
}

.about-wrapper .title-about h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 600;
    color: #00BCD4
}

.about-wrapper .text-about {
    margin-bottom: 20px
}

.about-wrapper .text-about p {
    margin-bottom: 5px;
    font-size: 16px;
    word-wrap: break-word
}

.about-wrapper .img-about {
    width: 100%;
    height: 300px
}

.about-wrapper .img-about img {
    width: 100%;
    height: 100%
}

.about-wrapper .img-about img.img-border {
    display: inline-block;
    max-width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #f4f4f4;
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15)
}

.about-wrapper .img-about img.img-border:hover {
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35)
}

.about-wrapper .profile-about {
    text-align: left;
    position: relative
}

.about-wrapper .profile-about .profile-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 8px 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35)
}

.about-wrapper .profile-about .profile-wrap .profile-left p {
    display: block;
    width: 110px;
    font-size: 16px;
    text-transform: capitalize
}

.about-wrapper .profile-about .profile-wrap .profile-left p span {
    margin-right: 5px;
    float: right
}

.about-wrapper .profile-about .profile-wrap .profile-right p {
    font-size: 16px
}

.about-wrapper .social-about {
    margin: 10px 0
}

.about-wrapper .social-about>ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.about-wrapper .social-about>ul>li {
    margin-right: 10px
}

.about-wrapper .social-about>ul>li>a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    color: #00BCD4;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #f4f4f4;
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15)
}

.about-wrapper .social-about>ul>li>a:hover {
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    color: #01A5BA
}

.skill-wrapper {
    width: 100%;
    height: 620px;
    background-image: url(../img/bg-skill.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    padding-bottom: 60px
}

.skill-wrapper .bg-opacity-white {
    width: 100%;
    height: 620px;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative
}

.skill-wrapper .desc-skill {
    padding: 50px 0
}

.skill-wrapper .desc-skill .title-skill {
    margin-bottom: 30px
}

.skill-wrapper .desc-skill .title-skill h1 {
    font-size: 32px;
    color: #333;
    font-weight: 700
}

.skill-wrapper .desc-skill .text-skill p {
    text-align: left;
    margin-bottom: 5px
}

.skill-wrapper .skill-content {
    padding: 80px 0
}

.skill-wrapper .skill-content .skill-progress-wrap {
    margin: 50px 0
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress label {
    font-size: 14px
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress .progress {
    border-radius: 0px;
    background-color: #fff;
    margin-bottom: 15px
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress .progress .progress-bar.progress-bar-primer {
    background-color: #00BCD4
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress .progress .progress-bar.progress-bar-primer.css-bar {
    width: 80%
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress .progress .progress-bar.progress-bar-primer.html-bar {
    width: 100%
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress .progress .progress-bar.progress-bar-primer.js-bar {
    width: 60%
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress .progress .progress-bar.progress-bar-primer.php-bar {
    width: 80%
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress .progress .progress-bar.progress-bar-primer.sql-bar {
    width: 70%
}

.skill-wrapper .skill-content .skill-progress-wrap .skill-progress .progress .progress-bar.progress-bar-primer.framework-bar {
    width: 40%
}

.portfolio-wrapper {
    padding: 60px 0 0;
    background-color: #00BCD4
}

.portfolio-wrapper .title-wrap {
    padding: 20px 0 30px;
    background-color: #00BCD4
}

.portfolio-wrapper .title-wrap h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: "Roboto-Bold", sans-serif;
    color: #fff
}

.portfolio-wrapper .title-wrap p {
    font-size: 20px;
    font-family: "Roboto-Medium", sans-serif;
    color: #fff
}

.portfolio-wrapper .portfolio-content {
    background-color: #fff;
    padding: 50px 0 60px
}

.portfolio-wrapper .portfolio-content .project-wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px
}

.portfolio-wrapper .portfolio-content .project-wrap a {
    float: left
}

.portfolio-wrapper .portfolio-content .project-wrap a.project-content {
    width: calc(33.333% - 10px);
    height: 280px;
    margin: 0 5px 5px 0;
    position: relative
}

.portfolio-wrapper .portfolio-content .project-wrap a.project-content:hover .project-text {
    opacity: 1
}

.portfolio-wrapper .portfolio-content .project-wrap a.project-content img {
    width: 100%;
    height: 100%
}

.portfolio-wrapper .portfolio-content .project-wrap a.project-content .project-text {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00BCD4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center
}

.portfolio-wrapper .portfolio-content .project-wrap a.project-content .project-text h4 {
    color: #fff;
    font-size: 20px;
    font-family: "Roboto-Bold", sans-serif
}

.blog-wrapper {
    padding: 20px 0 60px
}

.blog-wrapper .title-wrap {
    background-color: #00BCD4;
    padding: 80px 0 30px;
    margin-bottom: 50px
}

.blog-wrapper .title-wrap h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: "Roboto-Bold", sans-serif;
    color: #fff
}

.blog-wrapper .title-wrap p {
    font-size: 20px;
    font-family: "Roboto-Medium", sans-serif;
    color: #fff
}

.blog-wrapper .blog-content {
    width: 100%;
    height: 400px;
    background-color: #fff;
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    margin-bottom: 30px
}

.blog-wrapper .blog-content .blog-body {
    padding: 10px 5px
}

.blog-wrapper .blog-content .blog-body img {
    width: 100%;
    height: 200px
}

.blog-wrapper .blog-content .blog-body .blog-headline {
    overflow: hidden;
    padding: 20px 10px;
    height: 135px
}

.blog-wrapper .blog-content .blog-body .blog-headline h4 {
    color: #00BCD4;
    font-size: 18px;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 15px
}

.blog-wrapper .blog-content .blog-body .blog-headline p {
    font-size: 14px;
    text-align: justify;
    margin-right: 10px
}

.blog-wrapper .blog-content .blog-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 7px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}

.blog-wrapper .blog-content .blog-footer .tag-wrap {
    width: calc(100% - 100px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start
}

.blog-wrapper .blog-content .blog-footer .tag-wrap p {
    font-size: 16px;
    padding: 3px 0
}

.blog-wrapper .blog-content .blog-footer .tag-wrap p span {
    color: #00BCD4
}

.blog-wrapper .blog-content .blog-footer .more-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end
}

.blog-wrapper .blog-content .blog-footer .more-wrap a {
    color: #00BCD4;
    display: block;
    padding: 3px 5px;
    transition: all .3s ease
}

.blog-wrapper .blog-content .blog-footer .more-wrap a:hover {
    background-color: #00BCD4;
    color: #fff;
    padding: 3px 10px
}

.contact-wrapper {
    width: 100%;
    background-color: #00BCD4;
    padding: 40px 0 80px;
    position: relative
}

.contact-wrapper .title-wrap {
    background-color: #00BCD4;
    padding: 50px 0 30px
}

.contact-wrapper .title-wrap h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: "Roboto-Bold", sans-serif;
    color: #fff;
    margin-bottom: 30px
}

.contact-wrapper .title-wrap p {
    color: #fff;
    margin-bottom: 5px
}

.contact-wrapper .map-wrap {
    width: 100%;
    height: 450px;
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    margin-bottom: 30px
}

.contact-wrapper .map-wrap iframe {
    width: 100%;
    height: 100%
}

.contact-wrapper .form-wrap {
    width: 100%;
    height: 450px;
    background-color: #fff;
    padding: 30px 20px;
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35)
}

.contact-wrapper .form-wrap .form-group {
    margin-bottom: 5px
}

.contact-wrapper .form-wrap .form-group label {
    color: #00BCD4;
    font-size: 14px;
    font-family: "Roboto-Light", sans-serif;
    outline: 0
}

.contact-wrapper .form-wrap .form-group .form-control {
    border-radius: 0;
    font-size: 16px;
    height: 40px
}

.contact-wrapper .form-wrap .form-group .form-control.textarea {
    height: 70px
}

.contact-wrapper .form-wrap .form-group button {
    margin-top: 20px
}

.contact-wrapper .circle-button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    -moz-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center
}

.contact-wrapper .circle-button:hover {
    -moz-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.35);
    color: #00BCD4;
    transition: all 0.3s ease-out
}

@media screen and (max-width: 1199px) {
    .about-wrapper .title-about {
        margin-top: 30px
    }
    .about-wrapper .img-about {
        margin-top: 30px
    }
}

@media screen and (max-width: 991px) {
    .skill-wrapper .desc-skill {
        padding: 0
    }
    .skill-wrapper .desc-skill .title-skill {
        margin-bottom: 15px
    }
    .skill-wrapper .skill-content {
        padding: 30px 0 50px
    }
    .skill-wrapper .skill-content .skill-progress-wrap {
        margin: 40px 0
    }
    .portfolio-wrapper .portfolio-content .project-wrap a.project-content {
        width: calc(50% - 10px);
        height: 280px
    }
}

@media screen and (max-width: 575px) {
    .home-wrapper .banner-text {
        padding: 20vh 0 50px
    }
    .home-wrapper .banner-text .home-title {
        margin-bottom: 15px
    }
    .home-wrapper .banner-text .home-title h1 {
        font-size: 42px
    }
    .home-wrapper .banner-text .home-subtitle {
        margin-bottom: 35px
    }
    .home-wrapper .banner-text .home-subtitle h2 {
        font-size: 18px;
        font-weight: 300;
        font-family: "Roboto-Medium", sans-serif
    }
    .portfolio-wrapper .portfolio-content .project-wrap a.project-content {
        width: 100%;
        height: 280px;
        margin: 5px 0
    }
}