<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Template</title>
    <link href="../assets/css/vendors.min.css" rel="stylesheet">
    <link href="../assets/css/styles.min.css" rel="stylesheet">
    <link href="../assets/icons/fontawesome/css/fontawesome-all.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header-default">
        <div class="container">
          <div class="header-wrapper">
            <div class="header-brand"><a href="index.html">PERSONAL</a></div>
            <div class="header-menu">
              <ul class="list-unstyled">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-default-mobile">
        <div class="container">
          <div class="header-wrapper">
            <div class="header-brand"><a class="open-sidenav" href="#">PERSONAL</a></div>
          </div>
        </div>
        <div class="sidenav-mobile" id="sidenav">
          <div class="profil-wrap">
            <div class="bg-opacity-black">
              <div class="content"><img class="img-circle" src="../assets/img/soekirman.png">
                <h4>Soekirman</h4>
                <p>Web developer</p>
              </div>
            </div>
          </div>
          <div class="menu-warp">
            <ul class="list-unstyled">
              <li><a class="menu-mobile" href="#home">Home</a></li>
              <li><a class="menu-mobile" href="#about">About</a></li>
              <li><a class="menu-mobile" href="#portfolio">Portfolio</a></li>
              <li><a class="menu-mobile" href="#blog">Blog</a></li>
              <li><a class="menu-mobile" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="home-wrapper" id="home">
      <div class="bg-opacity-black">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="banner-text text-center">
                <div class="home-title">
                  <h1>hi! i'm <span>soekirman</span></h1>
                </div>
                <div class="home-subtitle">
                  <h2>junior web developer</h2>
                </div>
                <div class="home-btn"><a class="btn btn-primer" href="#contact">CONTACT ME <i class="far fa-envelope"></i></a></div>
              </div>
            </div>
          </div>
        </div><a href="#about">
          <div class="circle-button"><span class="fas fa-angle-down"></span></div></a>
      </div>
    </section>
    <section class="about-wrapper" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="title-about">
              <h3>my story</h3>
            </div>
            <div class="text-about">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a aliquet tortor. Fusce quis metus vel urna mollis convallis.</p>
              <p>Pellentesque et odio tortor. Aliquam id rhoncus arcu, tristique malesuada magna.</p>
            </div>
            <div class="btn-about"><a class="btn btn-primer" href="#"><i class="fas fa-cloud-download-alt"></i> DOWNLOAD RESUME</a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="img-about"><img class="img-border" src="../assets/img/soekirman.png"></div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="title-about">
              <h3>personal information</h3>
            </div>
            <div class="profile-about">
              <div class="profile-wrap">
                <div class="profile-left">
                  <p>nama <span>:</span></p>
                </div>
                <div class="profile-right">
                  <p>Soekirman</p>
                </div>
              </div>
              <div class="profile-wrap">
                <div class="profile-left">
                  <p>age <span>:</span></p>
                </div>
                <div class="profile-right">
                  <p>23 years</p>
                </div>
              </div>
              <div class="profile-wrap">
                <div class="profile-left">
                  <p>email <span>:</span></p>
                </div>
                <div class="profile-right">
                  <p>soekirman@gmail.com</p>
                </div>
              </div>
              <div class="profile-wrap">
                <div class="profile-left">
                  <p>phone <span>:</span></p>
                </div>
                <div class="profile-right">
                  <p>+6289999888777</p>
                </div>
              </div>
              <div class="profile-wrap">
                <div class="profile-left">
                  <p>address <span>:</span></p>
                </div>
                <div class="profile-right">
                  <p>Jakarta, Indonesia</p>
                </div>
              </div>
            </div>
            <div class="social-about">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"> </i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="skill-wrapper" id="skill">
      <div class="bg-opacity-white">
        <div class="skill-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="desc-skill">
                  <div class="title-skill">
                    <h1>SKILLS</h1>
                  </div>
                  <div class="text-skill">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a aliquet tortor. Fusce quis metus vel urna mollis convallis.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="skill-progress-wrap">
                  <div class="skill-progress">
                    <label>CSS</label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primer css-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                  </div>
                  <div class="skill-progress">
                    <label>HTML</label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primer html-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
                  </div>
                  <div class="skill-progress">
                    <label>Javascript</label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primer js-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                  </div>
                  <div class="skill-progress">
                    <label>PHP</label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primer php-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                  </div>
                  <div class="skill-progress">
                    <label>SQL</label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primer sql-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                  </div>
                  <div class="skill-progress">
                    <label>PHP Framework</label>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primer framework-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="portfolio-wrapper" id="portfolio">
      <div class="title-wrap">
        <div class="container">
          <h1>PORTFOLIO</h1>
          <p>Recent Projects</p>
        </div>
      </div>
      <div class="portfolio-content">
        <div class="container">
          <div class="project-wrap"><a class="project-content" data-toggle="modal" data-target="#project"><img src="../assets/img/apps.jpeg" alt="">
              <div class="project-text">
                <h4>Judul Project</h4>
              </div></a><a class="project-content" data-toggle="modal" data-target="#project"><img src="../assets/img/apps2.jpeg" alt="">
              <div class="project-text">
                <h4>Judul Project</h4>
              </div></a><a class="project-content" data-toggle="modal" data-target="#project"><img src="../assets/img/apps.jpeg" alt="">
              <div class="project-text">
                <h4>Judul Project</h4>
              </div></a><a class="project-content" data-toggle="modal" data-target="#project"><img src="../assets/img/apps2.jpeg" alt="">
              <div class="project-text">
                <h4>Judul Project</h4>
              </div></a></div><a class="btn btn-second" href="#">SEE MORE</a>
        </div>
      </div>
    </section>
    <section class="blog-wrapper" id="blog">
      <div class="title-wrap">
        <div class="container">
          <h1>BLOG</h1>
          <p>Popular Articles</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="blog-content">
              <div class="blog-body"><img src="../assets/img/apps2.jpeg">
                <div class="blog-headline">
                  <h4>10 Kebiasaan Programmer. Nomor 4 Bi...</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a aliquet tortor. Fusce quis metus vel urna mollis convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a aliquet tortor.</p>
                </div>
              </div>
              <div class="blog-footer">
                <div class="tag-wrap">
                  <p><span class="fas fa-tag"></span> Category</p>
                </div>
                <div class="more-wrap"><a href="#">Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="blog-content">
              <div class="blog-body"><img src="../assets/img/apps2.jpeg">
                <div class="blog-headline">
                  <h4>10 Aplikasi Yang Istimewa, Nomor 10 B...</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a aliquet tortor. Fusce quis metus vel urna mollis convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a aliquet tortor.</p>
                </div>
              </div>
              <div class="blog-footer">
                <div class="tag-wrap">
                  <p><span class="fas fa-tag"></span> Category</p>
                </div>
                <div class="more-wrap"><a href="#">Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="blog-content">
              <div class="blog-body"><img src="../assets/img/apps2.jpeg">
                <div class="blog-headline">
                  <h4>10 Kebiasaan Programmer. Nomor 4 Bi...</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a aliquet tortor. Fusce quis metus vel urna mollis convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a aliquet tortor.</p>
                </div>
              </div>
              <div class="blog-footer">
                <div class="tag-wrap">
                  <p><span class="fas fa-tag"></span> Category</p>
                </div>
                <div class="more-wrap"><a href="#">Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="btn btn-second" href="#">SEE MORE</a></div>
        </div>
      </div>
    </section>
    <section class="contact-wrapper" id="contact">
      <div class="container">
        <div class="title-wrap">
          <h1>CONTACT</h1>
          <p>Jl. In Aja Dulu No.454, Indramayu - Indonesia</p>
          <p>www.website.co.id | adhewaliyanto345@gmail.com</p>
        </div>
        <div class="row">
          <div class="col-lg-7 col-md-7">
            <div class="map-wrap">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253721.22228309896!2d108.20188893022616!3d-6.471661566068273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6ec6b437a6877b%3A0xbbe80d39ed68f274!2sDwi+Indah!5e0!3m2!1sid!2sid!4v1514529898337" style="border:0;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-5 col-md-5">
            <div class="form-wrap">
              <form>
                <div class="form-group">
                  <label for="nama">Nama</label>
                  <input class="form-control" id="nama" type="text" placeholder="Nama Lengkap" required>
                </div>
                <div class="form-group">
                  <label for="nama">Email</label>
                  <input class="form-control" id="email" type="email" placeholder="example@email.com" required>
                </div>
                <div class="form-group">
                  <label for="nama">Subject</label>
                  <input class="form-control" id="nama" type="text" placeholder="Subyek Pesan" required>
                </div>
                <div class="form-group">
                  <label for="text">Pesan</label>
                  <textarea class="form-control textarea" id="text" row="30" required></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-primer" type="submit">Kirim Pesan</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><a href="#home">
        <div class="circle-button"><span class="fas fa-angle-up"></span></div></a>
    </section>
    <footer>
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-social">
            <ul class="list-unstyled">
              <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a class="github" href="#"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <div class="footer-copyright">
            <p>Adhe Dwi Waliyanto &copy;2018</p>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade" id="project" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="project-modal"><img src="../assets/img/apps.jpeg">
              <div class="project-desc">
                <h4>Judul Project</h4>
                <p>A portfolio is a collection of documents and writing that you assemble in order to demonstrate that you have the appropriate prior.</p>
              </div>
            </div>
          </div>
          <div class="modal-footer"><a href="#">DEMO</a><a type="button" data-dismiss="modal">CANCEL</a></div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/vendors.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
  </body>
</html>